<div class="container">
  <br><br><br>
  <h1 class="title is-striped is-size-1">Lpg subsidy subscribers</h1>

  <table>
    <thead>
      <tr>
        <th>UID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @lpg_subsidies.each do |lpg_subsidy| %>
        <tr>
          <td><%= lpg_subsidy.citizen_id %></td>          
          <td><%= Citizen.find(lpg_subsidy.citizen_id).name %></td>  
          <td>
            <%= link_to 'Remove', 
                lpg_subsidy, 
                method: :delete, 
                data: { confirm: 'Are you sure?' }, 
                class: "button" %>      
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Subscription', new_lpg_subsidy_path, class: "button is-link" %>
</div>