<div class="container">
	<br><br><br>
	<h1 class="title is-size-1">New Lpg Subsidy Subscription</h1>

	<%= render 'form', lpg_subsidy: @lpg_subsidy %>

	<%= link_to 'Back', lpg_subsidies_path %>
</div>
