<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Citizen:</strong>
    <%= @lpg_subsidy.citizen %>
  </p>

  <%= link_to 'Edit', edit_lpg_subsidy_path(@lpg_subsidy) %> |
  <%= link_to 'Back', lpg_subsidies_path %>

</div>