<div class="columns">
  <div class="column is-half">
    <section id="vision" class="hero is-fullheight">
      <div class="hero-body">
        <div class="info animated fadeInUp container">
          <h1 class="title is-size-1">
            Our Vision
          </h1>
          <p class="is-size-3">
            To empower residents of a country with a unique identity
             and a digital platform to authenticate anytime, anywhere.
             <br><br>
             To ensure security and confidentiality of identity information and
             authentication records of individuals.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="column is-half">
    <section id="mission" class="hero is-fullheight">
      <div class="hero-body">
        <div class="info container animated fadeInUp">
          <h1 class="title is-size-1">
            Our Mission
          </h1>
          <p class="is-size-3">
            To provide for good governance, efficient, transparent and targeted 
            delivery of subsidies, benefits and services, to individuals residing
             in a country through assigning of unique identity numbers.
            <br><br>
            To develop policy, procedure and systems for UID holders for updating
             and authenticating their digital identity.
            <br><br>
            Ensure availability, scalability and resilience of the technology infrastructure.
            
            
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
<br><br><br>
<div class="container">
    <h1 class="title">Our Core Values</h1>
    <hr>
    <div class="columns home-section">
        <div class="column">
            <p class="has-text-left is-size-3">
                We believe in facilitating good governance
                <br><br>
                We value integrity
                <br><br>
                We are committed to inclusive nation building
                <br><br>
                We pursue a collaborative approach and value our partners
                <br><br>
                We will strive towards excellence in services to residents and service providers
                <br><br>
                We will always focus on continuous learning and quality improvements
                <br><br>
                We are driven by innovation and provide a platform for our partners to innovate
                <br><br>
                We believe in a transparent and open organization
            </p>
        </div>
    </div>
</div>