<div id="home-tiles">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                        <p class="title">Unified</p>
                        <p class="subtitle">
                            Each Citizen has one unified record, thses records can be accessed through
                            the ministries, governmental institutions whenever needed under an unmatched 
                            security levels of access rights, in order to provide the highest level of 
                            dynamicity and security while using the confidential data of each citizen.
                        </p>
                        </article>
                        <article class="tile is-child notification is-warning">
                        <p class="title">Peace of mind</p>
                        <p class="subtitle">
                            UID gives nationwide portability as it can be authenticated anywhere on-line. 
                            This is critical as millions of citizens migrate from one state to another or 
                            from rural area to urban centres etc.
                        </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                        <p class="title">Benefits</p>
                        <p class="subtitle">
                            <br><br><br>
                            Citizen Management System helps to clean out duplications and fakes, and provides 
                            accurate data to enable implementation of direct benefit programmes. “Use of CMS 
                            reduces the cost of identifying persons and provides increased transparency to the 
                            government in implementation of its schemes.” 
                        </p>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Subsidies</p>
                        <p class="subtitle">
                            One of the most important uses of CMS card is that it permits the holder
                            to avail of all government subsidies he/she is eligible for, without the
                            need to register and enrol for these separately. Since the government
                            already has all the necessary data on a particular individual, they need
                            only produce their CMS card in order to avail of the various subsidies
                            or programmes.
                        </p>
                        <div class="content">
                        <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-success">
                        <p class="title">Health</p>
                        <p class="subtitle">
                             With internet facilitating accumulation and analysis of large volumes of 
                             data, these records can prove of immense use both for the individual as 
                             well as the medical practitioners.
                        </p>
                        </article>
                        <article class="tile is-child notification is-warning">
                        <p class="title">Education</p>
                        <p class="subtitle">
                            By just verifying the UID number, the background screening of a student can
                             be done in minutes, and the National Career Service (NCS) portal can facilitate this.
                        </p>
                        </article>
                    </div>
        </div>
    </div>
</div>

<br><br><br>
<div class="container">
    <h1 class="title has-text-centered">Get to know why CMS is important for you</h1>
    <hr>
    <div class="columns home-section">
        <div class="column">
            <h1 class="title is-size-1">Health</h1>
        </div>
        <div class="column">
            <p class="is-size-3">
                Once you register with CMS, we provide you access to the best 
                healthcare plans of the nation and free treatment in all government
                health facilities all over the country.
            </p>
        </div>
    </div>

    <hr>
    <div class="columns home-section">
        <div class="column">
            <p class="is-size-3">
                Not everyone can afford everything, so to level the playing field
                we provide subsidies to those who can't afford all services. register
                yourself and get access to all subsidies now.
            </p>
        </div>
        <div class="column">
            <h1 class="title is-size-1">Subsidies</h1>
        </div>
    </div>

    <hr>
    <div class="columns home-section">
        <div class="column">
            <h1 class="title is-size-1">Education</h1>
        </div>
        <div class="column">
            <p class="is-size-3">
                Register as a citizen and get access to free school education in government institutes
                and reduced fees in private institutes.
            </p>
        </div>
    </div>

    <hr>
    <h1 class="title has-text-centered">And a  lot more.</h1>
</div>