<div class="container">
  <br><br><br>
  <h1 class="title is-striped is-size-1">Electricity subsidy subscribers</h1>

  <table>
    <thead>
      <tr>
        <th>UID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @elec_subsidies.each do |elec_subsidy| %>
        <tr>
          <td><%= elec_subsidy.citizen_id %></td>
          <td><%= Citizen.find(elec_subsidy.citizen_id).name %></td>          
          <td>
            <%= link_to 'Remove', 
                elec_subsidy, 
                method: :delete, 
                data: { confirm: 'Are you sure?' }, 
                class: "button" %>      
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Subscription', new_elec_subsidy_path, class: "button is-link" %>
</div>