<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Citizen:</strong>
    <%= @elec_subsidy.citizen %>
  </p>

  <%= link_to 'Edit', edit_elec_subsidy_path(@elec_subsidy) %> |
  <%= link_to 'Back', elec_subsidies_path %>

</div>